
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.785rem;
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: rgb(176, 94, 154);
  border-radius: 5px;
  margin: 5px;
  padding: 8px 16px;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
input, label {
  display:block;
  text-align: left;
}
label {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(176, 94, 154);
}
input {
  width: 80%;
  border-radius: 5px;
  padding: 4px 8px;
}
form {
  margin: 15px 30px;
}
h1 {
  font-size: 2.75rem;
  margin: 15px;
}
h2 {
  font-size: 2.25rem;
  margin: 15px;
}
h3 {
  font-size: 1.75rem;
  margin: 15px;
}
p {
  font-size: 1.25rem;
  margin: 15px;
}
