:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-size: 0.785rem;
  font-family: "Open Sans", sans-serif;
}
button {
  background-color: rgb(176, 94, 154);
  border-radius: 5px;
  /* margin: 5px; */
  padding: 8px 16px;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
input, label {
  box-sizing: border-box;
  display:block;
  text-align: left;
}
label, .label-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(176, 94, 154);
  align-self: flex-start;
}
input {
  width: 100%;
  border-radius: 5px;
  padding: 4px 8px;
}
form {
  margin: 15px 30px;
  padding: 15px 30px;
  border: 1px rgb(155, 172, 211) solid;
  border-radius: 5px;
  box-shadow: 0 .2rem .6rem 0 rgba(0, 0, 0, .1); 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  /* background-color: rgb(191, 248, 248); */
  background-color: rgb(197, 213, 250);
}
h1 {
  font-size: 2.75rem;
  /* margin: 15px; */
}
h2 {
  font-size: 2.25rem;
  /* margin: 15px; */
}
h3 {
  font-size: 1.75rem;
  /* margin: 15px; */
}
p {
  font-size: 1.25rem;
  margin: 5px;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align:top;
}
ul li button {
  background-color: rgb(67, 102, 228);
}
.go-back-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.go-back-button {
  background-color: transparent;
  color: blue;
  border: 0;
}
ul.radio-list, div.radio-list {
  padding: 0;
} 
ul.radio-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;

} 
.radio-list li {
  display: inline-block;
  overflow: hidden;
}
.radio-list input {
  visibility:hidden;
  height: 0;
  width: 0;
}
.radio-list label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.radio-list input + label {
  padding: 5px 10px;
}
.icon-list input + label {
  padding: 5px 5px;
}
.icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.radio-list input:checked + label {
  border: 2px solid red;
  border-radius: 5px;
}
.text-list {
  color: gray;
}
.fa-icons {
  background-color: rgb(48, 47, 46);
  color: white;
  font-size: 1.5em;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
}
div.radio-list {
  background-color: rgb(191, 248, 248);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
form button {
  margin: 15px 0 5px;
}

div.task-info {
  background-color: rgb(191, 248, 248);
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  margin: 15px 0;
}
.task-info .fa-icons {
  margin: 5px;
}
.task-info p {
  color: blueviolet;
  
}
.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
/* .radio-list p {
  margin: 5px;
} */
.max-width {
  width: 100%;
}
.challenge-info {
  background-color: rgb(191, 248, 248);
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  margin: 15px 0;
}
.challenge-info h2 {
  color: brown;
  text-align: center;
}
.ranking-info {
  background-color: rgb(191, 248, 248);
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  margin: 15px 0;
}